.bundle/
pkg/
vendor/
tmp/
target/
/ext/confium_native/Cargo.lock
/lib/confium_native/*.bundle
/lib/confium_native/*.so
/lib/confium_native/*.dll
/lib/confium_native/*.dylib
*.bundle
*.so
*.dll
*.dylib
.rspec_status
# All test support directories (test certs, keys, CSRs generated on the fly)
spec/support/
spec/**/support/
